{
	email {$ACME_EMAIL}
}

benzo.space {
	root * /srv/landing
	@assets path /assets/*
	@notAssets not path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"
	header @notAssets Cache-Control "no-cache"
	try_files {path} /index.html
	file_server
	encode zstd gzip
}

www.benzo.space {
	redir https://benzo.space{uri} permanent
}

wallet.benzo.space {
	handle /api/* {
		reverse_proxy wallet-api:8791
	}

	handle {
		root * /srv/wallet
		@assets path /assets/*
		@notAssets not path /assets/*
		header @assets Cache-Control "public, max-age=31536000, immutable"
		header @notAssets Cache-Control "no-cache"
		try_files {path} /index.html
		file_server
	}
	encode zstd gzip
}

console.benzo.space {
	handle /api/* {
		reverse_proxy console-api:8790
	}

	handle {
		root * /srv/console
		@assets path /assets/*
		@notAssets not path /assets/*
		header @assets Cache-Control "public, max-age=31536000, immutable"
		header @notAssets Cache-Control "no-cache"
		try_files {path} /index.html
		file_server
	}
	encode zstd gzip
}
