{
	email {$ACME_EMAIL}
}

benzo.space {
	root * /srv/landing
	try_files {path} /index.html
	file_server
	encode zstd gzip
}

www.benzo.space {
	redir https://benzo.space{uri} permanent
}

wallet.benzo.space {
	route {
		@api path /api/*
		reverse_proxy @api wallet-api:8791

		root * /srv/wallet
		try_files {path} /index.html
		file_server
	}
	encode zstd gzip
}

console.benzo.space {
	route {
		@api path /api/*
		reverse_proxy @api console-api:8790

		root * /srv/console
		try_files {path} /index.html
		file_server
	}
	encode zstd gzip
}
